
.intro-2 {
    background: url("https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")no-repeat center center;
    background-size: cover;
}
.view {
    margin-top: -56px;
}
.navbar {
    z-index: 1;
}

html,body,
.view {
    height: 100%;
}

/* home page bao hanh */
.infor {
    margin: 50px;
}

.bao_hanh {
    text-align: center;
}


.feedback{
    height: 78%;
    padding-top: 2%;
}

/* Guarantee file css */
.guarantee {
    text-align: center;
    height: 78%;
}

/* repair_schedule file css */
.repair_schedule {
    text-align: center;
    height: 78%;
}

/* update_schedule file css */
.update_guarantee {
    text-align: center;
    height: 78%;
}

.create_guarantee{
    padding-top: 2%;
    padding-bottom: 15%;
}

/* admin button */
#admin_button {
    display: none;
}

.CSKH_content{
    margin-bottom: 30px;
    text-align: center;
}