<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="../../assets/css/CSKH.css"> -->
    <link rel="stylesheet" href="../../../assets/css/CSKH.css">
</head>
<body>
    <header>
        <h1>HEDSPI</h1>
    </header>
    <div class="update_guarantee container">
        <div class="input">
            <input type="text" placeholder="Nhập mã đơn bảo hành"><button>Search</button>
        </div>
        <div class="content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Thời gian tiếp nhận bảo hành
                        </th>
                        <th>
                            Trạng thái đơn bảo hành
                        </th>
                        <th>
                            Thông tin chi tiết
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="" id="admin_button">
            <button class="btn btn-primary"> update </button>
        </div>
    </div>
</body>
<script src="../../../assets/js/Update_guarantee.js"></script>

</html>